.paper{
    background-color: #353537;
    width: 700px;
    height: 150px;

    margin: 15px;

    border-radius: 15px;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cryptoName{
    color: white;
    font-size: 35px;
}

.cryptoChnage{
    color: white;
    font-size: 35px;
}

@media (max-width: 730px) {
    .paper{
        width: 550px;
        height: 150px;
    }
}

@media (max-width: 590px) {
    .paper{
        width: 480px;
        height: 150px;
    }

    .cryptoName{
        color: white;
        font-size: 25px;
    }
    
    .cryptoChnage{
        color: white;
        font-size: 25px;
    }
}

@media (max-width: 490px) {
    .paper{
        width: 350px;
        height: 150px;
    }
}

@media (max-width: 370px) {
    .paper{
        width: 290px;
        height: 100px;
    }

    .cryptoName{
        color: white;
        font-size: 20px;
    }
    
    .cryptoChnage{
        color: white;
        font-size: 20px;
    }
}