.coin-data__main {
    width: 100%;
    padding: 0 30px;
}

@media (max-width: 590px) {
    .coin-data__flex-valute-stat {
        flex-direction: column;
    }
}

@media (max-width: 370px) {
    .coin-data__flex-valute-stat {
        flex-direction: column;
    }
}